@import "../global.scss";

.cards {
  width: 90%;
  position: relative;

  .card-back {
    position: relative;
    z-index: 1;
    text-align: end;
    > img {
      width: 90%;
    }

    span {
      position: absolute;
      top: 41%;
      right: 12%;
      color: $white-100;
    }
  }

  .card-front {
    position: absolute;
    z-index: 10;
    top: 35%;
    left: 0;

    > img {
      width: 90%;
    }

    > svg {
      position: absolute;
      top: 1rem;
      left: 1rem;
    }

    .number {
      position: absolute;
      top: 55%;
      left: 1rem;
      letter-spacing: 0.2rem;
    }

    .owner {
      position: absolute;
      top: 75%;
      left: 1rem;
      text-transform: uppercase;
    }

    .date {
      position: absolute;
      top: 75%;
      right: 20%;
    }

    > span {
      color: $white-100;
    }
  }
}

@media (min-width: 768px) {
  .cards {
    width: 90%;
    position: relative;
    display: flex;
    height: 80%;
    align-items: end;
    .card-back {
      width: 100%;
      > img {
        width: 80%;
      }
    }

    .card-front {
      top: 0;
      left: 100px;
      width: 80%;
      > img {
        width: 90%;
      }
    }
  }
}
