@import "../global.scss";

.container {
  background-color: $white-200;
  display: grid;
  grid-template-rows: 0px 300px auto;
  justify-items: center;
  padding: 1rem 0;
  height: 100%;

  > picture {
    > img {
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      height: auto;
    }
  }
}
