@import "../global.scss";

.container {
  background-color: $white-200;
  display: grid;
  grid-template-rows: 0px 300px auto;
  justify-items: center;
  padding: 1rem 0;
  height: 100%;

  > picture {
    > img {
      width: 100%;
      top: 0;
      left: 0;
      position: absolute;
      height: auto;
    }
  }
}

@media (min-width: 398px) {
  .container {
    grid-template-rows: 0px 350px auto;
  }
}

@media (min-width: 520px) {
  .container {
    grid-template-rows: 0px 450px auto;
  }
}

@media (min-width: 1000px) {
  .container {
    grid-template-columns: 0px 1fr 1fr;
    grid-template-rows: 1fr;
    align-items: center;
    > picture {
      > img {
        width: fit-content;
        height: 100%;
      }
    }
  }
}
