@import "../global.scss";

.form {
  max-width: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  padding: 1rem;

  background-color: $white-200;
  border-radius: 0.8rem;
  z-index: 10;

  .card-other {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    align-items: center;

    .card-date {
      > div {
        display: flex;
        gap: 1rem;
      }
    }
  }

  .error-text {
    width: 100%;
  }
}

@media (min-width: 768px) {
  .form {
    justify-content: center;
    width: 80%;
    height: fit-content;
  }
}
